<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.user.login.mapper.UserProfileMapper">
    <resultMap id="userProfileMap" type="com.user.login.entities.UserProfile">
        <result property="firstName" column="id"/>
        <result property="lastName" column="name"/>
        <result property="fullName" column="email"/>
    </resultMap>

    <select id="getUserProfileById" parameterType="String" resultMap="userProfileMap">
        select id, name, email, age from test.user
        WHERE ID = #{userID}
    </select>
</mapper>